.categories-info {
  padding: 120px 0;
  background-image: url(../images/decor/categories-left.png);
  background-repeat: no-repeat;
  background-position: center left;

  &__inner {
    background-image: url(../images/decor/categories-right.png);
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
  }

  &::before {
    background-image: url(../images/decor/info-before.svg);
    width: 120px;
    height: 121px;
    top: -40px;
    left: -45px;
  }

  &::after {
    background-image: url(../images/decor/info-after.svg);
    width: 65px;
    height: 52px;
    bottom: -23px;
    right: -23px;
  }

  &-item {
    padding: 60px 30px;
    box-shadow: 20px 0 60px 0 rgba(202, 202, 202, 0.35);
    width: 370px;
    background-color: #fff;

    &__title {
      margin: 110px 0 10px;
      color: $title;
      @extend %roboto-400;
      font-size: 22px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

.delivery {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/icons/delivery.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
  }
}

.return {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/icons/return.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
  }
}

.support {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/icons/support.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
  }
}

.categories {
  &-items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }

  &-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 35px;
    padding-left: 40px;

    &:nth-child(1) {
      grid-row: span 2;

      .categories-item__subtitle,
      .categories-item__link:hover {
        color: #5800e4;
      }
    }

    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;

      .categories-item__subtitle,
      .categories-item__link:hover {
        color: $accent;
      }
    }

    &:nth-child(3) {

      .categories-item__subtitle,
      .categories-item__link:hover {
        color: #ffb534;
      }
    }

    &:nth-child(4) {

      .categories-item__subtitle,
      .categories-item__link:hover {
        color: #34c3ff;
      }
    }

    &__subtitle {
      margin-bottom: 5px;
    }

    &__title {
      color: $title;
      font-size: 22px;
      margin-bottom: 16px;
    }

    &__link {
      text-transform: uppercase;
      color: $title;
      @extend %roboto-400;
      transition: all .3s;
    }
  }
}
